
<% var year = new Date().getFullYear(); %>


<footer>
    <div class="fixed-bottom">
        
        <a href="https://www.google.com/gmail/"><i class="fas fa-envelope icon_size"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook icon_size"></i></a>
        <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram icon_size"></i></a>
        
        
        <p>Copyright © <%= year %>  NetoWarrior</p>
    </div>
</footer>


</body>
</html>